:root {
    --color-red-400: rgb(255, 100, 103);
    --color-red-500: rgb(251, 44, 54);
    --color-red-600: rgb(231, 0, 11);
    --color-red-900: rgb(130, 24, 26);
    --color-green-400: rgb(6, 223, 114);
    --color-green-600: rgb(0, 166, 62);
    --color-gray-300: rgb(209, 213, 219);
    --color-gray-400: rgb(153, 161, 175);
    --color-gray-600: rgb(74, 85, 101);
    --color-gray-700: rgb(54, 65, 83);
    --color-gray-800: rgb(30, 41, 57);
    --color-gray-900: rgb(16, 24, 40);
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-primary: rgb(201, 254, 27);
    --color-dark: rgb(11, 14, 19);
    --color-light: rgb(241, 241, 241);
}

html, body {
    font-family: "Chakra Petch", sans-serif;
    box-sizing: border-box;
    background-color: var(--color-dark);
    color: var(--color-light);
}

h1 {
    font-size: 3rem;
    font-family: "Days One", sans-serif
}

h2 {
    font-size: 2rem;
    font-family: "Days One", sans-serif
}

.bg-primary-dark {
    background-color: var(--color-dark);
}

.bg-primary-color {
    background-color: var(--color-primary);
}

.text-color-primary {
    color: var(--color-primary);
}

button:hover {
    background-color: var(--color-primary) !important; /* Semi-transparent background is crucial */
    backdrop-filter: blur(10px) brightness(80%); /* Apply blur and brightness to the backdrop */
}

.nav-item a{
    color: var(--color-light);
}

.nav-item a:hover, .nav-link:hover span{
    color: var(--color-primary);
}

.active {
    color: var(--color-primary) !important;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand:hover {
    color: var(--color-primary);
}

.navbar-toggler {
    border: none;
}

.menu-icon svg:hover path{
    stroke: #c9fe1b;
}

.custom-title {
    position: relative;
}

.custom-title::after {
    content: "";
    width: 4rem;
    height: 0.2rem;
    background-image: linear-gradient(90deg, var(--color-primary), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0.6rem;
    left: calc(100% + 1rem);

}

.custom-title::before {
    content: "";
    width: 4rem;
    height: 0.2rem;
    background-image: linear-gradient(270deg, var(--color-primary), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0.6rem;
    right: calc(100% + 1rem);

}

/* ! HERO SECTION */
#hero {
    background: linear-gradient( rgba(0, 0, 0, 0.8 ), rgba(0, 0, 0, 0.8) ), url(/assets/images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
}

.hero__actions button {
    border: 3px solid var(--color-primary);
}

.hero__image img{
    border: 5px solid var(--color-primary);
    border-radius: 1rem;
}

.status-card {
    background-color: var(--color-dark);
    border: 1px solid var(--color-gray-600); 
    border-radius: 10px;
    padding: 1.3rem 1.6rem; 
    width: 12rem;
    bottom: 0.2rem;
    left: 5rem;
}

.status-card p {
    color: var(--color-gray-600);
    font-size: 1rem;
}

/* GAMES SECTION */
#our-games {
    background-color: var(--color-dark);
}

.gaming-card .tag-1 {
    position: absolute;
    top: -2rem;
    left: 1rem;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.gaming-card .tag-2 {
    position: absolute;
    top: -2rem;
    left: 9rem;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.gaming-card p {
    color: var(--color-dark);
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    position: absolute;
    bottom: -4rem;
    left: 1.5rem;
    transition-duration: 0.5s;
}

.gaming-card span {
    text-transform: uppercase;
    font-size: small;
    padding: 1px;
}

.gaming-card img {
    transition-duration: 0.5s;
}

.gaming-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, var(--color-primary), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition-duration: 0.5s;
}

.gaming-card {
    border: 2px solid var(--color-dark);
    border-radius: 20px;
}

.gaming-card:hover {
    .tag-1 {
        top: 1rem;
    }

    .tag-2 {
        top: 1rem;
    }

    p {
        bottom: 1.5rem;
        z-index: 10;
    }
    
    img {
        scale: 1.1;
    }
    &::after{
        display: block;
    }
    border-color: var(--color-primary);
}

.slider-btn {
    border: 2px solid var(--color-gray-600);
    padding: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    position: static;
}

.actions button:not(.slider-btn) {
    border: 2px solid var(--color-primary);
}

/* ! WHAT WE DO SECTION */
.card-gray {
    background-color: #1a1a1a;
    text-align: center;
    border: solid 1px var(--color-gray-300);
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
}

.row > [class^="col"] {
    padding-right: var(--bs-gutter-x);
    padding-left: var(--bs-gutter-x);
}


.card-gray i:not(.fa-caret-up, .fa-caret-down) {
    background-color: var(--color-gray-800);
    width: 4rem;
    height: 4rem;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.fa-caret-up {
    position: absolute;
    top: -2.4rem;
    left: -2rem;
    rotate: -45deg;
    color: var(--color-primary);
    font-size: 3rem;
    transition-duration: 0.5s;
}

.fa-caret-down {
    position: absolute;
    bottom: -2.4rem;
    right: -2rem;
    rotate: -45deg;
    color: var(--color-primary);
    font-size: 3rem;
    transition-duration: 0.5s;

}

.card-gray:hover {
    i:not(.fa-caret-up, .fa-caret-down) {
        color: #1a1a1a;
        background-color: var(--color-primary);
    }
}

.card-gray:hover .fa-caret-up {
    top: 0.4rem;
    left: 0rem;
}

.card-gray:hover .fa-caret-down {
    bottom: 0.4rem;
    right: 0rem;
}

.custom-divider {
    display: block;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(201, 254, 27, 1) 50%, rgba(0, 0, 0, 1) 100%);
    height: 0.2rem;
    width: 80%;
    max-width: 600px;
    margin: 1rem;
box-shadow: 2px 14px 45px 10px rgba(201,254,27,0.85);
-webkit-box-shadow: 2px 14px 45px 10px rgba(201,254,27,0.85);
-moz-box-shadow: 2px 14px 45px 10px rgba(201,254,27,0.85);
}

.game-logos img {
    width: 5.5rem;
    flex-shrink: 0;
    border-radius: 10px;
}

.inner-scroll-container{
    animation: scroll-logos linear infinite;
    animation-duration: 20s; 
}

.inner-scroll-container2{
    animation: scroll-logos-reverse linear infinite;
    animation-duration: 20s; 
}

.logo-track {
    display: flex;
    gap: 1rem;
}

.logo-track div {
    margin-inline: 0.2rem;
}

@keyframes scroll-logos {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-logos-reverse {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

.bg-shadow {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 10%;
    border-radius: 50%;
    background-color: rgba(201, 254, 27,0.45);
    box-shadow: 3px 7px 66px 45px rgba(201, 254, 27,0.52);
    -webkit-box-shadow: 3px 7px 66px 45px rgba(201, 254, 27,0.52);
    -moz-box-shadow: 3px 7px 66px 45px rgba(201, 254, 27,0.52);
}

/* ! START OUR TEAM */

.team-member {
    position: relative;
    max-height: 20rem;
    filter: grayscale(100%);
    transition: all ease-in-out 0.5s;
}

.team-member .member-info h3 {
    font-family: 'Days One', serif;
    font-size: 1rem;
    font-weight: bold;
}

.team-member span, p {
    font-size: 0.8rem;
}

.team-member:hover {
    filter: grayscale(0%);
}

.member-nickname {
    font-family: "Chakra Petch", sans-serif;
    font-size: 0.8rem;
    bottom: 3rem;
    right: -0.5rem;
}

/* ! START CONTACT US */

#contact-us {
    background-image: linear-gradient(0deg ,var(--color-dark),var(--color-gray-900));
    padding-top: 1rem;
    font-size: large;
}

#contact-us i {
    color: var(--color-dark);
    background-color: var(--color-primary);
    width: 3.5rem;
    height: 3.5rem;
}

.contact-card {
    background-color: var(--color-gray-800);
}

.contact-card h3 {
    font-family: 'Days One', serif;
    margin: 0;
}

#join-us-card {
    background-image: linear-gradient(90deg ,var(--color-primary),var(--color-green-400));
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#join-us-card i {
    color: var(--color-primary);
    background-color: var(--color-dark);
    width: 2.5rem;
    height: 2.5rem;
}

#contact-us form {
    background-color: var(--color-gray-800);
}

#contact-us form {
    input, select, textarea {
    background-color: var(--color-gray-700);
    color: var(--color-white);
    border: 0;
    margin-block: 0.2rem;
    }
}

/* ! START FOOTER */
footer {
    background-color: var(--color-black);
}

footer a:hover {
    color: var(--color-primary) !important;
}